@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

@font-face {
    font-family: SweiGothicLegCJKtc-Regular;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Regular.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-DemiLight;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-DemiLight.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-DemiLight.woff) format("woff");
  }
@font-face {
    font-family: SweiGothicLegCJKtc-Medium;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Medium.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Medium.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-Bold;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Bold.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Bold.woff) format("woff");
  }
@font-face {
    font-family: SweiGothicLegCJKtc-Black;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Blcak.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Black.woff) format("woff");
}
@font-face {
    font-family: SweiGothicLegCJKtc-Light;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff) format("woff");
  }
  @font-face {
    font-family: SweiGothicLegCJKtc-Thin;
    src: url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff2) format("woff2")
    , url(../font/swei-gothic-leg-master/WebFont/CJK%20TC/SweiGothicLegCJKtc-Light.woff) format("woff");
  }

/* font */

html {
    scroll-behavior: smooth;
  }

body {
    opacity: 0;
    transform: translateY(20px);
    box-sizing: border-box;
    overflow: hidden;
}

/* title */
h1 {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 2rem;
    color:#fff;

}
.kamei {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9D2929;
}
.kamei_line {
    /* height: 2px; */
    width: 50px;
    border: solid 1px #9D2929;
    margin: 0 10px;
    border-radius: 10px;
}

/* subtitle */
h3 {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    


}

.h3-spring {
    color:#9D2929;
}
.h3-spring.sub {
    margin-top: -10px;
    font-size: 1rem;
    word-spacing: 5px;
}


.intro {
    /* font-family: 'Zen Maru Gothic', sans-serif; */
    font-family: SweiGothicLegCJKtc-Medium;
    /* font-weight: 500; */
    font-size: 1rem;
    color: #472A18;
    text-align: center;
    margin-top: 100px;
    /* text-align: justify; */
    /* text-justify: auto; */
}

.h3-summer {
    color: #216c76;
}
.h3-fall {
    color:#a65930;
}
.h3-winter {
    color: #572176;
}

h4 {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.2rem;
    color:#9D2929;
    font-weight: 700;
    margin: 0;

}

p {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    display: inline;
    justify-content: center;
    text-align: justify;
    /* border: solid 1px black; */

    
}


/* 架構*/
.container {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.container-spring {
    background-color: #fdaeb1;
}
.container-summer {
    background-color: #aee3db;
}
.container-fall {
    background-color: #f1be62;
}
.container-winter {
    background-color: #c4c6ec;
}





/* 要壓底紋圖的區塊 */
.content-area {
    width: 1100px;
    height: 660px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    outline: solid 1px black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-area-spring {
    background-color: #ea9396;
}

.content-area-summer {
    background-color: #84c9be;
}
.content-area-fall {
    background-color: #ebb080;
}
.content-area-winter {
    background-color: #dfcaf4;
}




/* btn */
/* .btn {
    position: fixed;
    
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    outline: solid 1px black;

} */
.btn_back {
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 10px;


    transition: margin-top 0.5s, filter 0.5s; /* 添加過渡效果屬性 */

}
.btn_back:hover {
    margin-top: 25px;
    transition:all 0.5s;
    /* opacity: 80%; */
    filter: drop-shadow(0px 10px 5px rgba(147, 147, 147, 0.5));
}


.btn_hamburger {
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 10px;

    transition: margin-top 0.5s, filter 0.5s; 
}

.btn_hamburger:hover {
    margin-top: 25px;
    transition:all 0.5s;
    /* opacity: 80%; */
    filter: drop-shadow(0px 10px 5px rgba(147, 147, 147, 0.5));
}
.btn {
    position: absolute;
}
.btn.left {
    left: 30px;
    padding-left: 50px;

    margin: 0;
    padding: 0;

}
.btn.right {
    right: 30px;
    padding-left: 50px;

    margin: 0;
    padding: 0;

}
.btn.close {
    position: absolute;
    top: 40px;
    right: 30px;
    padding-left: 50px;

    margin: 0;
    padding: 0;
}

.btnimage {
    width: 20px;
    height: 40px;
   
}
.btnimage.close {
    width: 20px;
    height: 20px;  
}


/* 內容 */
/* 季節說明文字區塊 */
.introduction-area {
    position: absolute;
    /* position: relative; */
    /* outline: solid 1px black; */
    width: 500px;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; /*搭配display:flex可將物件垂直置中*/
    margin-top: -50px;


}
.introduction-content {
    text-align: center;
    vertical-align: middle;
    color: #472A18;
    background-color: rgba(249,248,227,0.8);
    border-radius: 20px;
    padding:20px;
    /* padding-bottom: 8px; */
    display: inline-block;
    
    
    

    
}

/* 和菓子區塊 */
.wagashi-area {
    position: absolute;
    display: flex;
    /* outline: solid 1px red; */
    width: 1000px;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
.wagashi-area_line1 {
    position: absolute;
    display: inline;
    width: 500px;
    height: 200px;
    /* outline: solid 1px blue; */
    /* align-items: center;
    text-align: center; */
    /* flex-direction: column; */
    margin-bottom: 360px;
    
}
.wagashi-area_line2 {
    position: absolute;
    display: inline;
    width: 1000px;
    height: 200px;
    /* outline: solid 1px blue; */
    /* align-items: center;
    justify-content: center; */
    
    
    
}

.wagashi-area_line3 {
    position: absolute;
    display: inline;
    width: 500px;
    height: 200px;
    /* outline: solid 1px blue; */
    margin-top: 380px;


}

/* 圖片 */
/* .image{

} */
.image_wagashi_spring {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 0; /* 添加初始的 margin-top 值 */

    transition: margin-top 0.5s, filter 0.5s; /* 添加過渡效果屬性 */
 

}
.image_wagashi_spring:hover {
    margin-top: -10px;
    transition:all 0.5s;
    /* opacity: 80%; */
    filter: drop-shadow(5px 10px 5px rgba(171, 76, 76, 0.5));
}
.image_wagashi_summer {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 0; /* 添加初始的 margin-top 值 */

    transition: margin-top 0.5s, filter 0.5s; /* 添加過渡效果屬性 */


}
.image_wagashi_summer:hover {
    margin-top: -10px;
    transition:all 0.5s;
    /* opacity: 80%; */
    filter: drop-shadow(5px 10px 5px rgba(34, 112, 119, 0.5));
}
.image_wagashi_fall {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 0; /* 添加初始的 margin-top 值 */

    transition: margin-top 0.5s, filter 0.5s; /* 添加過渡效果屬性 */


}
.image_wagashi_fall:hover {
    margin-top: -10px;
    transition:all 0.5s;
    /* opacity: 80%; */
    filter: drop-shadow(5px 10px 5px rgba(119, 62, 34, 0.5));
}
.image_wagashi_winter {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 0; /* 添加初始的 margin-top 值 */

    transition: margin-top 0.5s, filter 0.5s; /* 添加過渡效果屬性 */


}
.image_wagashi_winter:hover {
    margin-top: -10px;
    transition:all 0.5s;
    /* opacity: 80%; */
    filter: drop-shadow(5px 10px 5px rgba(88, 34, 119, 0.5));
}
.image_wagashi_i1 {

}
.image_wagashi_i2 {
    right: 0;
    float: right;
}
.image_wagashi_i3 {
    left: 0;
}
.image_wagashi_i4 {
    right: 0;
    float: right; /*讓物件靠右*/

}
.image_wagashi_i5 {
    
}
.image_wagashi_i6 {
    right: 0;
    float: right;
    scale: 85%;
}


/* 動畫 */
.fade-in {
    opacity: 1; /* 透明度从 1 变为 0，实现淡出效果 */
    transform: translateY(0px); /* 同时向上平移一点，增加动画效果 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 过渡属性和时长 */
}

.fade-out {
    opacity: 0; /* 透明度从 1 变为 0，实现淡出效果 */
    transform: translateY(20px); /* 同时向上平移一点，增加动画效果 */
    transition: opacity 0.5s ease, transform 0.5s ease; /* 过渡属性和时长 */
}





/* popup */
.popup {
    top: 20%;
    /* margin: 148px 0px;  */
    /*全螢幕比例問題*/
    left: 0;
    position: absolute;
    width: 100vw;
    min-height: 500px;
    /* outline: solid 1px red; */
    filter: drop-shadow(5px 10px 5px rgba(171, 76, 76, 0.5));
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    /* opacity: 0; */

}
#popup_spring {
    display: none;
    /* opacity: 0; */
}
#look1 {
    display: none;
}
#look2 {
    display: none;
}
#look3 {
    display: none;
}
#look4 {
    display: none;
}
#look5 {
    display: none;
}
#look6 {
    display: none;
}

/* .look0 {
    opacity: 1;
} */

.popup_spring {
    background-color: #9D2929;
    /* display: none; */

}

.popup_contentarea {
    outline: solid 1px blue;
    padding: 0px 90px;
    /* margin-top: 25px; */
    width: 100vw;
    min-height: 450px;
    background-color: #FFDEDE;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.popup_formove {
    padding: 0;
    width: auto;
    height: auto;
    background-color: #FFDEDE;
    display: flex;
}

.popup_left {
    height: 450px;
    width: 40%;
    /* outline: solid 1px blue; */
    padding: 0;
    text-align: center;
    align-items: center;

}

.popup_img {
    height: 250px;
    filter: drop-shadow(5px 10px 5px rgba(119, 62, 34, 0.5));

}

.popup_right {
    height: 450px;
    width: 60%;
    /* outline: solid 1px blue; */
    padding: 0;
    text-align: center;
    align-items: center;
    
}

.rightarea_content {
    display: flex;
    height: 130px;
    width: auto;
    /* outline: solid 1px red; */
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */

}
.rightarea_content.tipsarea {
    height: 187px;
    /* outline: solid 1px red; */
    align-items: center;
    justify-content: center;
}

.rightarea_title {
    width: 30px;
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: #6B1A1A;
    writing-mode: vertical-lr;
    letter-spacing: 10px;
}
.intro.content {
    
    margin:  auto 30px;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    line-height: 28px;
    /* align-items: center; */
    /* justify-content: center; */
    

}
.intro.tips_content {
    margin: 10px 0;
}

.kamei_line.underrightareacontent {
    width: auto;
    margin: 0 0px;
}
.tips {
    text-align-last: left;
    margin: 0 30px;
    padding: 10px 0;
}
.tips_content {
    text-align: left;
    
}

